<a href="https://colab.research.google.com/github/valdirdpg/curso-dnc/blob/master/MINI_PROJETO2_VALDIR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import seaborn as sms
import matplotlib.pyplot as plt
import plotly.express as ex

In [7]:
walmart = pd.read_csv('https://raw.githubusercontent.com/valdirdpg/curso-dnc/master/MODULO-4/mini-projeto2/Walmart.csv')



```
Super Bowl     12-Feb-10, 11-Feb-11, 10-Feb-12
Labour Day     10-Sep-10, 09-Sep-11, 07-Sep-12
Thanksgiving   26-Nov-10, 25-Nov-11, 23-Nov-12
Christmas      31-Dec-10, 30-Dec-11, 28-Dec-12

**Variável**        **Descrição**
Store              Número da Loja
Date               Semana de Venda
Weekly_Sales       Venda Naquela Semana
Holiday_Flag       Flag se é ou não semana com feriado (1 -
                   Holiday Week 0 - Non-Holiday Week)
Temperature        Temperatura do dia em °F
Fuel_Price         Preço do combustível na região da loja
CPI                Índice de preços ao consumidor
Unemployment       Taxa de desemprego
```

Qual o preço médio de venda semanal por loja?
Qual o atributo que tem maior correlação (positiva ou negativa) com o número de
vendas? (E que faça sentido)
Da loja com maior venda acumulada (soma de vendas de todo o período), quantas
semanas do ano ele ultrapassou a média do período?
Faça um gráfico com as vendas máximas, mínimas e médias de todas as lojas ao
longo do tempo. Ressalte de alguma forma, o período de feriados mencionados
acima.
Pensando na expansão de uma das lojas, que loja você escolheria e o por que?

In [12]:
walmart.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [13]:
# preço médio de venda semanal por loja
preco_medio = walmart.groupby('Store').agg({'Weekly_Sales':np.mean}).reset_index()
# ordenando as médias de venda do maior para o menor
preco_medio.sort_values(by='Weekly_Sales', ascending=False)

    Store  Weekly_Sales
19     20  2.107677e+06
3       4  2.094713e+06
13     14  2.020978e+06
12     13  2.003620e+06
1       2  1.925751e+06
9      10  1.899425e+06
26     27  1.775216e+06
5       6  1.564728e+06
0       1  1.555264e+06
38     39  1.450668e+06
18     19  1.444999e+06
30     31  1.395901e+06
22     23  1.389864e+06
23     24  1.356755e+06
10     11  1.356383e+06
27     28  1.323522e+06
40     41  1.268125e+06
31     32  1.166568e+06
17     18  1.084718e+06
21     22  1.028501e+06
11     12  1.009002e+06
25     26  1.002912e+06
33     34  9.667816e+05
39     40  9.641280e+05
34     35  9.197250e+05
7       8  9.087495e+05
16     17  8.935814e+05
44     45  7.859814e+05
20     21  7.560691e+05
24     25  7.067215e+05
42     43  6.333247e+05
14     15  6.233125e+05
6       7  5.706173e+05
41     42  5.564039e+05
8       9  5.439806e+05
28     29  5.394514e+05
15     16  5.192477e+05
36     37  5.189003e+05
29     30  4.385796e+05
2       3  4.027044e+05
37     38  3.857317e+05
35     36  3.735120e+05
4       5  3.180118e+05
43     44  3.027489e+05
32     33  2.598617e+05