# Instalando o Spark

In [ ]:
!pip install pyspark #==3.3.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 5.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=80e6954a5a76f9aa83a4c6ce4cd53488f6b4b32cd13f4d7cb25b678f66a7da3f
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip

--2023-01-13 13:10:38--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.161.241.46, 54.237.133.81, 18.205.222.128, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.161.241.46|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  3.82MB/s    in 3.5s

2023-01-13 13:10:41 (3.82 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok

 # Introdução ao PySpark

Pyspark é a interface do Spark no Python. Ela permite tanto que você escreva códigos utilizado a API de Spark para Python, mas também tem fornece um shell do Pyspark para que você possa analisar dados em um ambiente distribuído.

O PySpark suporta praticamente todas as features do Spark que vimos no módulo de intrdução. 
- Spark SQL e DataFrame
- Pandas API 
- Streaming
- MLlib
- Spark Core

## Trabalhando com um RDD

In [ ]:
from pyspark import SparkContext

# Create a SparkContext
sc = SparkContext("local", "RDD Example")

In [ ]:
# Ler um arquivo de texto e criar um rdd
rdd_texto = sc.textFile("./rdd_dataset.txt")

In [ ]:
# Performar transformações no RDD
# Exemplo: Filtrar somente linhas que contenham a palavra DNC
rdd_filtrado = rdd_texto.filter(lambda linha: "DNC" in linha)

In [ ]:
# Perform an action on the RDD
# Example: Count the number of lines in the filtered RDD
count = rdd_filtrado.count()

In [ ]:
print("Numero de linhas com DNC:", count)

## Iniciar Sessão Spark

O primeiro passo para trabalharmos com spark no Python é inicializarmos uma sessão do spark com o [SparkSession](https://spark.apache.org/docs/3.2.1/api/python/reference/api/pyspark.sql.SparkSession.html?highlight=rdd%20todf#pyspark.sql.SparkSession)


O que essa sessão Spark  está permitindo é que trabalhemos com Core do Spark que irá distribuir os dados que vamos trabalhar através de várias máquinas e paralelizar o seu processamento.

A SparkSession can be used create DataFrame, register DataFrame as tables, execute SQL over tables, cache tables, and read parquet files. To create a SparkSession, use the following builder pattern:

Enfim, nós podemos através da sessão spark trabalhar com todas as ferramentas que ele disponibiliza para trabalharmos com nossos dados de maneira distribuída no nosso cluster. 

A primeira coisa a se fazer é importar o SparkSession que é o ponto de entrada para trabalharmos com os dados no Pyspark.

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

# ConfigureSparkUI
conf = SparkConf().set('spark.ui.port', '4050')
sc = SparkContext(conf=conf)
sc.stop()

spark = (
    SparkSession.builder                  # Método da classe que constrói a sessão spark
      .appName("Meu Primeiro App Spark")  # Nome do App Spark
      .getOrCreate())                     # Verifica se há uma sessão ativa, e se não há, cria uma nova sessão

Como podemos ver na documentação, uma sessão spark tem algum métodos e atributos. Então por exemplo se eu quiser retornar qual é a sessão ativa de spark para meu programa atual, basta usar o getActiveSession()

### Disclaimer
Uma forte sugestão que eu tenho a vocês é que a cada função que usarem para manipular dataframes, consultem a documentação específica daquela função. 

https://spark.apache.org/

1. Acessar o site
2. Documentation
  - Latest Release que é a que estamos usando
  - Older versions caso esteja usando outra versão do spark

Reforçar o uso da documentação mostrando como achar o show() e falar que eles irão precisar usar a documentação para completar os exercício.

## Leitura de um CSV

Agora, vamos pegar uma base de dados mais próxima daquilo que diariamente engenheiro, cientistas e analistas lidam. 

Para isso, vamos pegar uma base de dados fictícias que contém transações pix.

In [ ]:
caminho_csv = "./base_de_dados.csv"

In [ ]:
caminho_csv = "./base_de_dados.csv"

df = spark.read.csv(
      path=caminho_csv,
)

AnalysisException: ignored

In [ ]:
df.show()

+--------------------+
|                 _c0|
+--------------------+
|id;valor;parte_de...|
|1;9.93;Dra. Ana C...|
|2;15.38;Ana Calde...|
|3;57.58;Arthur Go...|
|4;53705.13;Ana Ju...|
|5;25299.69;Srta. ...|
|6;7165.06;Gabriel...|
|7;6.16;Heloisa da...|
|8;136.36;Srta. Is...|
|9;574.39;Dr. Luca...|
|10;42.88;Mirella ...|
|11;33629.97;Sr. V...|
|12;4374.56;Nathan...|
|13;507.18;Miguel ...|
|14;67758.87;Julia...|
|15;815.53;Ana Lau...|
|16;2.73;Levi Lima...|
|17;0.54;Otavio Cu...|
|18;49836.72;Ana C...|
|19;9.68;Levi Mart...|
+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- _c0: string (nullable = true)

In [ ]:
df.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id;valor;parte_debitada_nome;parte_debitada_conta;parte_debitada_banco;parte_creditada_nome;parte_creditada_conta;parte_creditada_banco;chave_pix_tipo;chave_pix_valor;data_transacao|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1;9.93;Dra. Ana Carolina Oliveira;79470453;Nubank;Maysa da Cruz;67162333;Itau;cpf;8439752610;18/02/2022 13:28                                                                        |
|2;15.38;Ana Caldeira;19689668;Itau;Evelyn Sales;60005091;Bradesco;cpf;27145380617;08/04/2022 01:47                                                                                   |
|3;57.58;Arthur Goncalves;18856899;Bradesco;Maria Melo;13496303;BTG;cpf;16452937006;14/07/2022 03:18                                                                                  |
|4;53705.13;Ana Julia Caldeira;22834741;Itau;Ana Livia Almeida;44695116;Nubank;cpf;26590384142;15/01/2022 18:06                                                                       |
|5;25299.69;Srta. Nicole Pinto;3715882;Nubank;Srta. Ana Laura da Rocha;21409465;Nubank;cpf;73486105280;13/05/2022 11:04                                                               |
|6;7165.06;Gabriela Ferreira;2243037;Nubank;Larissa Souza;10689552;Itau;cpf;96845371237;11/09/2022 13:38                                                                              |
|7;6.16;Heloisa da Rocha;59778949;BTG;Dra. Vitoria Silveira;56583792;Nubank;cpf;89064175357;10/12/2021 12:37                                                                          |
|8;136.36;Srta. Isadora Correia;77102442;Nubank;Francisco da Costa;96088386;Nubank;cpf;85907632429;30/12/2021 23:18                                                                   |
|9;574.39;Dr. Lucas da Cruz;38501170;BTG;Calebe da Luz;19365554;Bradesco;cpf;64720189520;21/06/2021 07:20                                                                             |
|10;42.88;Mirella Martins;29535709;Bradesco;Danilo Lopes;60064650;Itau;cpf;87014935232;21/09/2022 17:19                                                                               |
|11;33629.97;Sr. Vitor Gabriel da Costa;67010663;BTG;Sra. Lavinia Caldeira;48145941;Nubank;cpf;63542098124;12/09/2022 00:29                                                           |
|12;4374.56;Nathan Peixoto;22975623;Nubank;Diogo da Luz;30302218;Bradesco;cpf;72908154323;07/08/2022 17:01                                                                            |
|13;507.18;Miguel Araujo;75113657;Nubank;Marcos Vinicius Goncalves;67418115;Itau;cpf;84763129031;07/03/2021 12:34                                                                     |
|14;67758.87;Juliana Correia;4495167;Itau;Davi Lucas Porto;94395923;BTG;cpf;97804215649;24/03/2021 22:58                                                                              |
|15;815.53;Ana Laura Souza;79650252;Itau;Isabel Costa;28762988;BTG;cpf;51824039689;21/02/2022 11:25                                                                                   |
|16;2.73;Levi Lima;73815441;BTG;Dra. Maria Luiza Peixoto;96594203;Bradesco;cpf;94516738066;20/07/2021 09:17                                                                           |
|17;0.54;Otavio Cunha;85583961;Bradesco;Elisa Moreira;97003354;Bradesco;cpf;15248769094;16/02/2022 10:16                                                                              |
|18;49836.72;Ana Carolina Oliveira;80200942;Itau;Stella Fernandes;31579145;BTG;cpf;47609381250;18/07/2022 22:46                                                                       |
|19;9.68;Levi Martins;12349481;Itau;Joao Guilherme Mendes;31102492;BTG;celular;11916824404;26/02/2022 15:05                                                                           |
|20;9837.22;Noah Cunha;84622162;Bradesco;Juan Mendes;97805965;Bradesco;celular;11944547225;22/06/2021 05:39                                                                           |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [ ]:
df = spark.read.csv(
      path=caminho_csv,
      header=True      
      #inferSchema=True,
      #sep=";"
)

In [ ]:
df.printSchema()

root
 |-- id;valor;parte_debitada_nome;parte_debitada_conta;parte_debitada_banco;parte_creditada_nome;parte_creditada_conta;parte_creditada_banco;chave_pix_tipo;chave_pix_valor;data_transacao: string (nullable = true)

In [ ]:
df.show()

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id;valor;parte_debitada_nome;parte_debitada_conta;parte_debitada_banco;parte_creditada_nome;parte_creditada_conta;parte_creditada_banco;chave_pix_tipo;chave_pix_valor;data_transacao|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                 1;9.93;Dra. Ana C...|
|                                                                                                                                                                 2;15.38;Ana Calde...|
|                                                                                                                                                                 3;57.58;Arthur Go...|
|                                                                                                                                                                 4;53705.13;Ana Ju...|
|                                                                                                                                                                 5;25299.69;Srta. ...|
|                                                                                                                                                                 6;7165.06;Gabriel...|
|                                                                                                                                                                 7;6.16;Heloisa da...|
|                                                                                                                                                                 8;136.36;Srta. Is...|
|                                                                                                                                                                 9;574.39;Dr. Luca...|
|                                                                                                                                                                 10;42.88;Mirella ...|
|                                                                                                                                                                 11;33629.97;Sr. V...|
|                                                                                                                                                                 12;4374.56;Nathan...|
|                                                                                                                                                                 13;507.18;Miguel ...|
|                                                                                                                                                                 14;67758.87;Julia...|
|                                                                                                                                                                 15;815.53;Ana Lau...|
|                                                                                                                                                                 16;2.73;Levi Lima...|
|                                                                                                                                                                 17;0.54;Otavio Cu...|
|                                                                                                                                                                 18;49836.72;Ana C...|
|                                                                                                                                                                 19;9.68;Levi Mart...|
|                                                                                                                                                                 20;9837.22;Noah C...|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [ ]:
df = spark.read.csv(
      path=caminho_csv,
      header=True,
      sep=";"
)

In [ ]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|  data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|18/02/2022 13:28|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|08/04/2022 01:47|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|14/07/2022 03:18|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|15/01/2022 18:06|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|13/05/2022 11:04|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|11/09/2022 13:38|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|10/12/2021 12:37|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|30/12/2021 23:18|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|21/06/2021 07:20|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|21/09/2022 17:19|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|12/09/2022 00:29|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|07/08/2022 17:01|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|07/03/2021 12:34|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|24/03/2021 22:58|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|21/02/2022 11:25|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|20/07/2021 09:17|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|16/02/2022 10:16|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|18/07/2022 22:46|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|26/02/2022 15:05|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|22/06/2021 05:39|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- valor: string (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: string (nullable = true)

In [ ]:
# Outra maneira de ler os dados
# df = (
#     spark
#       .read
#       .format("csv")                  # Formato de Leitura
#       .option("inferSchema", "true")  # Determina automáticamente o schema dos dados
#       .option('delimiter',";")        # Separador dos Dados
#       .option("header", "true")       # Identificar se meus dados possuem header
#       .load(caminho_csv)              # Local do meu arquivo
#   )

Como fazer para que meus dados tenham o schema correto?
1. Schema On Read
2. Alterar o tipo do dados depois da leitura

O Spark reader tem uma opção padrão de inferSchema, que seta o schema de forma automática e como achar conveniente. 

### Schema on read
Quais são os tipos de dados do PySpark?
https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/data_types.html

1. Definir o nosso schema
  - StructType
  - StructField
2. Ler a base de dados com nosso schema setado!

In [ ]:
df.schema.fieldNames()

['id',
 'valor',
 'parte_debitada_nome',
 'parte_debitada_conta',
 'parte_debitada_banco',
 'parte_creditada_nome',
 'parte_creditada_conta',
 'parte_creditada_banco',
 'chave_pix_tipo',
 'chave_pix_valor',
 'data_transacao']

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType

In [ ]:
schema_base_pix = StructType([
    StructField('id', IntegerType()),
    StructField('valor', DoubleType()),
])

In [ ]:
df = spark.read.csv(
      path=caminho_csv,
      header=True,
      sep=";",
      schema=schema_base_pix
)

In [ ]:
df.show()

+---+--------+
| id|   valor|
+---+--------+
|  1|    9.93|
|  2|   15.38|
|  3|   57.58|
|  4|53705.13|
|  5|25299.69|
|  6| 7165.06|
|  7|    6.16|
|  8|  136.36|
|  9|  574.39|
| 10|   42.88|
| 11|33629.97|
| 12| 4374.56|
| 13|  507.18|
| 14|67758.87|
| 15|  815.53|
| 16|    2.73|
| 17|    0.54|
| 18|49836.72|
| 19|    9.68|
| 20| 9837.22|
+---+--------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)

In [ ]:
df.select(sum('valor')).show()

TypeError: ignored

Cuidar para não usar funções do próprio python como se fosse PySpark!

In [ ]:
from pyspark.sql.functions import sum as _sum
df.select(_sum('valor')).show()

+------------------+
|        sum(valor)|
+------------------+
|1366301.1899999997|
+------------------+

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType, TimestampType

In [ ]:
schema_base_pix = StructType([
    StructField('id', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType())
])


df = spark.read.csv(
      path=caminho_csv,
      header=True,
      sep=";",
      schema=schema_base_pix
)

In [ ]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

In [ ]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|          null|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|          null|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|          null|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|          null|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|          null|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|          null|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|          null|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|          null|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|          null|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|          null|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|          null|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|          null|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|          null|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|          null|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|          null|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|          null|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|          null|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|          null|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|          null|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|          null|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
only showing top 20 rows

In [ ]:
schema_base_pix = StructType([
    StructField('id', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType())
])


df = spark.read.csv(
      path=caminho_csv,
      header=True,
      sep=";",
      schema=schema_base_pix,
      timestampFormat="dd/MM/yyyy HH:mm"
)

In [ ]:
df.printSchema()

df.show()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [ ]:
schema_base_pix = StructType([
    StructField('data_transacao', TimestampType()),    
    StructField('id', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType())

])


df = spark.read.csv(
      path=caminho_csv,
      header=True,
      sep=";",
      schema=schema_base_pix,
      timestampFormat="dd/MM/yyyy HH:mm"
)

In [ ]:
df.printSchema()

df.show()

root
 |-- data_transacao: timestamp (nullable = true)
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)

+--------------+----+-----+-------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+----------------+
|data_transacao|  id|valor|parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo| chave_pix_valor|
+--------------+----+-----+-------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+----------------+
|          null|null| null|           79470453|              Nubank|       Maysa da Cruz|            67162333|                 Itau|                  cpf|    8439752610|18/02/2022 13:28|
|          null|null| null|           19689668|                Itau|        Evelyn Sales|            60005091|             Bradesco|                  cpf|   27145380617|08/04/2022 01:47|
|          null|null| null|           18856899|            Bradesco|          Maria Melo|            13496303|                  BTG|                  cpf|   16452937006|14/07/2022 03:18|
|          null|null| null|           22834741|                Itau|   Ana Livia Almeida|            44695116|               Nubank|                  cpf|   26590384142|15/01/2022 18:06|
|          null|null| null|            3715882|              Nubank|Srta. Ana Laura d...|            21409465|               Nubank|                  cpf|   73486105280|13/05/2022 11:04|
|          null|null| null|            2243037|              Nubank|       Larissa Souza|            10689552|                 Itau|                  cpf|   96845371237|11/09/2022 13:38|
|          null|null| null|           59778949|                 BTG|Dra. Vitoria Silv...|            56583792|               Nubank|                  cpf|   89064175357|10/12/2021 12:37|
|          null|null| null|           77102442|              Nubank|  Francisco da Costa|            96088386|               Nubank|                  cpf|   85907632429|30/12/2021 23:18|
|          null|null| null|           38501170|                 BTG|       Calebe da Luz|            19365554|             Bradesco|                  cpf|   64720189520|21/06/2021 07:20|
|          null|null| null|           29535709|            Bradesco|        Danilo Lopes|            60064650|                 Itau|                  cpf|   87014935232|21/09/2022 17:19|
|          null|null| null|           67010663|                 BTG|Sra. Lavinia Cald...|            48145941|               Nubank|                  cpf|   63542098124|12/09/2022 00:29|
|          null|null| null|           22975623|              Nubank|        Diogo da Luz|            30302218|             Bradesco|                  cpf|   72908154323|07/08/2022 17:01|
|          null|null| null|           75113657|              Nubank|Marcos Vinicius G...|            67418115|                 Itau|                  cpf|   84763129031|07/03/2021 12:34|
|          null|null| null|            4495167|                Itau|    Davi Lucas Porto|            94395923|                  BTG|                  cpf|   97804215649|24/03/2021 22:58|
|          null|null| null|           79650252|                Itau|        Isabel Costa|            28762988|                  BTG|                  cpf|   51824039689|21/02/2022 11:25|
|          null|null| null|           73815441|                 BTG|Dra. Maria Luiza ...|            96594203|             Bradesco|                  cpf|   94516738066|20/07/2021 09:17|
|          null|null| null|           85583961|            Bradesco|       Elisa Moreira|            97003354|             Bradesco|                  cpf|   15248769094|16/02/2022 10:16|
|          null|null| null|           80200942|                Itau|    Stella Fernandes|            31579145|                  BTG|                  cpf|   47609381250|18/07/2022 22:46|
|          null|null| null|           12349481|                Itau|Joao Guilherme Me...|            31102492|                  BTG|              celular|   11916824404|26/02/2022 15:05|
|          null|null| null|           84622162|            Bradesco|         Juan Mendes|            97805965|             Bradesco|              celular|   11944547225|22/06/2021 05:39|
+--------------+----+-----+-------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+----------------+
only showing top 20 rows

### Mudar Schema após a leitura

Agora digamos que nossa base possui 350 colunas, e nós não temos tempo hábil para documentarmos todas as colunas e todos os tipos!

In [ ]:
df = spark.read.csv(
      path=caminho_csv,
      header=True,
      sep=";",
      inferSchema=True
)

In [ ]:
df.printSchema()

df.show()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: integer (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: integer (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: string (nullable = true)

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|  data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|18/02/2022 13:28|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|08/04/2022 01:47|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|14/07/2022 03:18|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|15/01/2022 18:06|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|13/05/2022 11:04|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|11/09/2022 13:38|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|10/12/2021 12:37|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|30/12/2021 23:18|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|21/06/2021 07:20|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|21/09/2022 17:19|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|12/09/2022 00:29|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|07/08/2022 17:01|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|07/03/2021 12:34|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|24/03/2021 22:58|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|21/02/2022 11:25|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|20/07/2021 09:17|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|16/02/2022 10:16|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|18/07/2022 22:46|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|26/02/2022 15:05|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|22/06/2021 05:39|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
only showing top 20 rows

In [ ]:
df_cast = df.withColumn(
    'id', col('id').cast('int'),
).withColumn(
    'valor', col('valor').cast(DoubleType()),
).withColumn(
    'data_transacao', to_timestamp('data_transacao', "dd/MM/yyyy HH:mm"),
)

In [ ]:
df_cast.printSchema()

df_cast.show()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: integer (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: integer (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

## Manipulando os Dados

Veremos agora a variedade de ferramentas que o Spark nos fornece para trabalharmos e analisarmos dados.

### Descrevendo os dados

In [ ]:
df.describe().show()

+-------+------------------+------------------+-------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+
|summary|                id|             valor|parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|     chave_pix_valor|
+-------+------------------+------------------+-------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+
|  count|               100|               100|                100|                 100|                 100|                 100|                  100|                  100|           100|                 100|
|   mean|              50.5|13663.011899999998|               null|        4.78019628E7|                null|                null|        5.107910677E7|                 null|          null|5.004246533667605...|
| stddev|29.011491975882016|25715.376055332952|               null|2.8752540692845434E7|                null|                null| 3.1057321908236194E7|                 null|          null|2.950502645111022E10|
|    min|                 1|              0.03|        Agatha Lima|            10469399|                 BTG|    Alexandre Farias|             10431480|                  BTG|       celular|         10658324780|
|    max|               100|          95977.62|       Yasmin Rocha|            95439137|              Nubank|   Vitor Hugo Aragao|              9994311|               Nubank|         email|vitoria.da.paz@ho...|
+-------+------------------+------------------+-------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+

### Seleção de Dados

In [ ]:
df.select("id", "valor").show(10)

+---+--------+
| id|   valor|
+---+--------+
|  1|    9.93|
|  2|   15.38|
|  3|   57.58|
|  4|53705.13|
|  5|25299.69|
|  6| 7165.06|
|  7|    6.16|
|  8|  136.36|
|  9|  574.39|
| 10|   42.88|
+---+--------+
only showing top 10 rows

### Adicionando mais colunas

Exemplo para transformar coluna de pix para dolar

In [ ]:
from pyspark.sql.functions import col, round, lit

dolar_hoje = 5.15
df_dolar = df.withColumn(
    'dolar',lit(dolar_hoje)
).withColumn(
    'valor_dolar', round(col('valor') * col('dolar'), 2)
)

In [ ]:
df_dolar.select('id', 'valor', 'dolar', 'valor_dolar').show()

+---+--------+-----+-----------+
| id|   valor|dolar|valor_dolar|
+---+--------+-----+-----------+
|  1|    9.93| 5.15|      51.14|
|  2|   15.38| 5.15|      79.21|
|  3|   57.58| 5.15|     296.54|
|  4|53705.13| 5.15|  276581.42|
|  5|25299.69| 5.15|   130293.4|
|  6| 7165.06| 5.15|   36900.06|
|  7|    6.16| 5.15|      31.72|
|  8|  136.36| 5.15|     702.25|
|  9|  574.39| 5.15|    2958.11|
| 10|   42.88| 5.15|     220.83|
| 11|33629.97| 5.15|  173194.35|
| 12| 4374.56| 5.15|   22528.98|
| 13|  507.18| 5.15|    2611.98|
| 14|67758.87| 5.15|  348958.18|
| 15|  815.53| 5.15|    4199.98|
| 16|    2.73| 5.15|      14.06|
| 17|    0.54| 5.15|       2.78|
| 18|49836.72| 5.15|  256659.11|
| 19|    9.68| 5.15|      49.85|
| 20| 9837.22| 5.15|   50661.68|
+---+--------+-----+-----------+
only showing top 20 rows

### Dropar Colunas

In [ ]:
df_dolar = df_dolar.drop('dolar')

In [ ]:
df_dolar.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)
 |-- valor_dolar: double (nullable = true)

### Renomear Colunas

In [ ]:
df_dolar = df_dolar.withColumnRenamed('valor_dolar', 'valor_convertido')

In [ ]:
df_dolar.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)
 |-- valor_convertido: double (nullable = true)

### Filtrando Valores

In [ ]:
# &, |, ==, ~
df.select('id', 'valor', 'chave_pix_tipo').filter(col('chave_pix_tipo') == 'cpf').show(10)

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
|  1|    9.93|           cpf|
|  2|   15.38|           cpf|
|  3|   57.58|           cpf|
|  4|53705.13|           cpf|
|  5|25299.69|           cpf|
|  6| 7165.06|           cpf|
|  7|    6.16|           cpf|
|  8|  136.36|           cpf|
|  9|  574.39|           cpf|
| 10|   42.88|           cpf|
+---+--------+--------------+
only showing top 10 rows

In [ ]:
df.select('id', 'valor', 'chave_pix_tipo').filter(col('chave_pix_tipo') != 'cpf').show(10)

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
| 19|    9.68|       celular|
| 20| 9837.22|       celular|
| 21|    9.36|       celular|
| 22|   22.43|       celular|
| 23|    7.44|       celular|
| 24|   40.36|       celular|
| 25|   28.66|       celular|
| 26|  154.98|       celular|
| 27|35859.11|       celular|
| 28|   89.94|       celular|
+---+--------+--------------+
only showing top 10 rows

In [ ]:
df.select(
    'id', 'valor', 'chave_pix_tipo'
).filter(
    (col('chave_pix_tipo') == 'cpf') &
    (col('valor') > 10000)
).show(10)

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
|  4|53705.13|           cpf|
|  5|25299.69|           cpf|
| 11|33629.97|           cpf|
| 14|67758.87|           cpf|
| 18|49836.72|           cpf|
| 47|38219.08|           cpf|
| 52|60139.23|           cpf|
| 54|95977.62|           cpf|
| 55|35409.61|           cpf|
| 62|57433.69|           cpf|
+---+--------+--------------+
only showing top 10 rows

In [ ]:
df.select(
    'id', 'valor', 'chave_pix_tipo'
).filter(
    (col('chave_pix_tipo') == 'cpf') |
    (col('chave_pix_tipo') == 'celular')
).show(20)

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
|  1|    9.93|           cpf|
|  2|   15.38|           cpf|
|  3|   57.58|           cpf|
|  4|53705.13|           cpf|
|  5|25299.69|           cpf|
|  6| 7165.06|           cpf|
|  7|    6.16|           cpf|
|  8|  136.36|           cpf|
|  9|  574.39|           cpf|
| 10|   42.88|           cpf|
| 11|33629.97|           cpf|
| 12| 4374.56|           cpf|
| 13|  507.18|           cpf|
| 14|67758.87|           cpf|
| 15|  815.53|           cpf|
| 16|    2.73|           cpf|
| 17|    0.54|           cpf|
| 18|49836.72|           cpf|
| 19|    9.68|       celular|
| 20| 9837.22|       celular|
+---+--------+--------------+
only showing top 20 rows

### Lidar com Valores Nulos

#### Dropando Linhas que contém valores nulos

In [ ]:
df.na.drop('mode')

#### Preenchendo valores nulos com algum valor

In [ ]:
df.na.fill(0, 'valor')

### Agregações e GroupBy

In [ ]:
df.select(
    'id', 'valor', 'chave_pix_tipo'
).groupBy(col('chave_pix_tipo')).count().show()

+--------------+-----+
|chave_pix_tipo|count|
+--------------+-----+
|       celular|   22|
|         email|   29|
|           cpf|   49|
+--------------+-----+

In [ ]:
df.select(
    'id', 'valor', 'chave_pix_tipo'
).groupBy(col('chave_pix_tipo')).sum('valor').show()

+--------------+------------------+
|chave_pix_tipo|        sum(valor)|
+--------------+------------------+
|       celular|         207778.46|
|         email|499009.38000000006|
|           cpf| 659513.3499999997|
+--------------+------------------+

In [ ]:
df.select(
    'id', 'valor', 'chave_pix_tipo'
).groupBy(col('chave_pix_tipo')).avg('valor').show()

+--------------+------------------+
|chave_pix_tipo|        avg(valor)|
+--------------+------------------+
|       celular| 9444.475454545454|
|         email|          17207.22|
|           cpf|13459.456122448973|
+--------------+------------------+

## Escrita de Dados

A maneira mais simples de escrever um arquivo como resultado de um processamento é:

In [ ]:
df.write.parquet('./output/base_de_dados')

### Escrita Particionada

In [ ]:
df.write.partitionBy("chave_pix_tipo").parquet('./output/base_de_dados')

AnalysisException: ignored

In [ ]:
df.write.mode('overwrite').partitionBy("chave_pix_tipo").parquet('./output/base_de_dados')

In [ ]:
from pyspark.sql.functions import year, month, dayofmonth, dayofyear

df.select(
    'data_transacao',
    year(col('data_transacao')),
    month(col('data_transacao')),
    dayofmonth(col('data_transacao')),
    dayofyear(col('data_transacao')),
).show(3)

+-------------------+--------------------+---------------------+--------------------------+-------------------------+
|     data_transacao|year(data_transacao)|month(data_transacao)|dayofmonth(data_transacao)|dayofyear(data_transacao)|
+-------------------+--------------------+---------------------+--------------------------+-------------------------+
|2022-02-18 13:28:00|                2022|                    2|                        18|                       49|
|2022-04-08 01:47:00|                2022|                    4|                         8|                       98|
|2022-07-14 03:18:00|                2022|                    7|                        14|                      195|
+-------------------+--------------------+---------------------+--------------------------+-------------------------+
only showing top 3 rows

In [ ]:
df_final = df.withColumn(
    'year', year(col('data_transacao'))
).withColumn(
    'month', month(col('data_transacao'))
).withColumn(
    'day', dayofmonth(col('data_transacao'))
)

In [ ]:
df_final.write.mode('overwrite').partitionBy(
  "year", "month", "day").parquet('./output/base_de_dados')

## Leitura de um dados particionado

In [ ]:
df_parquet = spark.read.parquet('./output/base_de_dados')

In [ ]:
df_parquet.rdd.getNumPartitions()

2

In [ ]:
!lscpu

Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              2
On-line CPU(s) list: 0,1
Thread(s) per core:  2
Core(s) per socket:  1
Socket(s):           1
NUMA node(s):        1
Vendor ID:           AuthenticAMD
CPU family:          23
Model:               49
Model name:          AMD EPYC 7B12
Stepping:            0
CPU MHz:             2249.998
BogoMIPS:            4499.99
Hypervisor vendor:   KVM
Virtualization type: full
L1d cache:           32K
L1i cache:           32K
L2 cache:            512K
L3 cache:            16384K
NUMA node0 CPU(s):   0,1
Flags:               fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ht syscall nx mmxext fxsr_opt pdpe1gb rdtscp lm constant_tsc rep_good nopl nonstop_tsc cpuid extd_apicid tsc_known_freq pni pclmulqdq ssse3 fma cx16 sse4_1 sse4_2 movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm cmp_legacy cr8_legacy abm sse4a misalignsse 3dnowprefetch osvw topoext ssbd ibrs ibpb stibp vmmcall fsgsbase tsc_adjust bmi1 avx2 smep bmi2 rdseed adx smap clflushopt clwb sha_ni xsaveopt xsavec xgetbv1 clzero xsaveerptr arat npt nrip_save umip rdpid

In [ ]:
!lscpu  | grep 'CPU(s):'

CPU(s):              2
NUMA node0 CPU(s):   0,1

### Comparar tempo de processamento no SparkUI

In [ ]:
df_parquet.filter(col('chave_pix_tipo') == 'cpf').show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+---------------+--------------+--------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_valor|data_transacao|chave_pix_tipo|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+---------------+--------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|     8439752610|          null|           cpf|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|    27145380617|          null|           cpf|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|    16452937006|          null|           cpf|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|    26590384142|          null|           cpf|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|    73486105280|          null|           cpf|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|    96845371237|          null|           cpf|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|    89064175357|          null|           cpf|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|    85907632429|          null|           cpf|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|    64720189520|          null|           cpf|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|    87014935232|          null|           cpf|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|    63542098124|          null|           cpf|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|    72908154323|          null|           cpf|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|    84763129031|          null|           cpf|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|    97804215649|          null|           cpf|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|    51824039689|          null|           cpf|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|    94516738066|          null|           cpf|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|    15248769094|          null|           cpf|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|    47609381250|          null|           cpf|
| 41|   60.55|       Amanda Farias|            35150923|                 BTG|      Leonardo Gomes|             54498411|               Nubank|    57924816011|          null|           cpf|
| 42|    6.62|Marcos Vinicius D...|            56286920|              Nubank|   Vitor Hugo Aragao|             59497930|                  BTG|    94807512676|          null|           cpf|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+---------------+--------------+--------------+
only showing top 20 rows

In [ ]:
df.filter(col('chave_pix_tipo') == 'cpf').show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 41|   60.55|       Amanda Farias|            35150923|                 BTG|      Leonardo Gomes|             54498411|               Nubank|           cpf|    57924816011|2022-03-23 20:20:00|
| 42|    6.62|Marcos Vinicius D...|            56286920|              Nubank|   Vitor Hugo Aragao|             59497930|                  BTG|           cpf|    94807512676|2021-10-20 06:58:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

### Compression

In [ ]:
df.write.mode('overwrite').compression('gzip').partitionBy("chave_pix_tipo").parquet('./output/base_de_dados')