In [ ]:
# instalar pacote display_side_by_side
# !pip install ipython

In [1]:
# importar bibliotecas do display_side_by_side
from IPython.display import display_html
from IPython.display import display
from IPython.core.display import HTML
from ipywidgets import interact
# importar bibliotecas do pandas
import pandas as pd
# importar bibliotecas do numpy
import numpy as np
# importar bibliotecas do matplotlib
import matplotlib.pyplot as plt
# importar bibliotecas do seaborn
import seaborn as sns

# importar bibliotecas do sklearn
from sklearn import datasets
from sklearn import metrics
from sklearn.preprocessing import minmax_scale,power_transform

In [9]:
# criar dois dataframes para fazer o merge
df1 = pd.DataFrame({'A': ['A10', 'A1', 'A22', 'A33'], 'B': ['B0', 'B1', 'B2', 'B3'], 'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}, index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A1', 'A2', 'A3', 'A7'], 'B': ['B4', 'B5', 'B6', 'B7'], 'C': ['C4', 'C5', 'C6', 'C7'], 'D': ['D4', 'D5', 'D6', 'D7']}, index=[4, 5, 6, 7])

In [18]:
def display_side_by_side(dataframes:list, titles:list):
    html_str=''
    for df, title in zip(dataframes, titles):
        html_str+=f'<span>{title}</span>'
        html_str+=df.to_html()
        html_str+='&nbsp'*10
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [19]:
display_side_by_side([df1,df2],['a','b'])

,A,B,C,D
0,A10,B0,C0,D0
1,A1,B1,C1,D1
2,A22,B2,C2,D2
3,A33,B3,C3,D3
,A,B,C,D
4,A1,B4,C4,D4
5,A2,B5,C5,D5
6,A3,B6,C6,D6
7,A7,B7,C7,D7

In [ ]:
df1.merge(df2, how='inner', on='A')

In [ ]:
df1.merge(df2, how='left', on='A')

In [ ]:
df1.merge(df2, how='right', on='A')

In [20]:
# definir o parâmetro how como um dropdown para escolher o tipo de merge a ser feito    

@interact(how=['inner', 'left', 'right', 'outer'],)
def merge_df(how):
    df = df1.merge(df2, how=how, on='A')
    display_side_by_side([df1, df2, df], ['df1', 'df2', f'df_{how}'])

interactive(children=(Dropdown(description='how', options=('inner', 'left', 'right', 'outer'), value='inner'),…

In [21]:
df1.plot.bar()

TypeError: no numeric data to plot