In [1]:
import pandas as pd

In [2]:
credito = pd.DataFrame({
    'idade': [70,68,44,72,75],
    'RendimentoTotal':[10736,5000,5800,4300,4400],
    'Salario': [5214,5000,5800,4300,4400],
    'LimitedeCreditoImediato':[400,380,500,2000,3000]
})

In [3]:
credito

   idade  RendimentoTotal  Salario  LimitedeCreditoImediato
0     70            10736     5214                      400
1     68             5000     5000                      380
2     44             5800     5800                      500
3     72             4300     4300                     2000
4     75             4400     4400                     3000