# Instalando o Spark

In [ ]:
!pip install pyspark #==3.3.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 8.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=76e4fa028c19ec2e74fa68f1ec81d19ebb9bab74d39160bc015e8e20b64224d5
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip

--2023-01-14 13:47:27--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.161.241.46, 18.205.222.128, 54.237.133.81, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.161.241.46|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  38.4MB/s    in 0.3s

2023-01-14 13:47:28 (38.4 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok

# Iniciando Sessão Spark

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

# ConfigureSparkUI
conf = SparkConf().set('spark.ui.port', '4050')
sc = SparkContext(conf=conf)
sc.stop()

spark = (
    SparkSession.builder                  # Método da classe que constrói a sessão spark
      .appName("Exercicios Spark")  # Nome do App Spark
      .getOrCreate())                     # Verifica se há uma sessão ativa, e se não há, cria uma nova sessão

In [ ]:
get_ipython().system_raw('./ngrok http 4050 &')

In [1]:
!curl -s http://localhost:4040/api/tunnels

{"tunnels":[{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://3b9d-2804-88c-7f3d-ea00-85b5-6195-28e-4054.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}},{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://3b9d-2804-88c-7f3d-ea00-85b5-6195-28e-4054.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}}],"uri":"/api/tunnels"}

In [ ]:
get_ipython().system_raw('./ngrok config add-authtoken 2KBeQEmmd1YNlQ86GGKf3KFOkb3_6sQH7JEnvEhDxwn9A7WnT')

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType, TimestampType


schema_base_pix = StructType([
    StructField('id', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType())
])

caminho_csv = "./base_de_dados.csv"

df = spark.read.csv(
      path=caminho_csv,
      header=True,
      sep=";",
      schema=schema_base_pix,
      timestampFormat="dd/MM/yyyy HH:mm"
)

# Exercícios
1. Descubra a quantidade total de transações na base de dados.
2. Qual foi a quantia total de dinheiro transacional em cada ano?
2. Descubra a quantidade de dinheiro que entrou na Nubank em todo o período.
2. Retorne a quantidade de transações agrupadas por tipo de chave.
3. Descubra qual é a média, mínima e máxima do valor de todas as transações.
4. Quais foram as 5 maiores transações durante todo o período?
5. Para o banco BTG, mostre qual é a chave pix mais utilizada para enviar ou receber transações. 
6. Descubra qual foi a maior transação de cada mês na base de dados.
7. Crie uma nova coluna que contenha o valor da transação em dólar.

In [ ]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|          null|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|          null|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|          null|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|          null|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|          null|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|          null|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|          null|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|          null|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|          null|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|          null|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|          null|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|          null|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|          null|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|          null|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|          null|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|          null|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|          null|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|          null|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|          null|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|          null|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+--------------+
only showing top 20 rows

In [ ]:
# Exercicio 1
# Descubra a quantidade total de transações na base de dados

df.count()

100

In [ ]:
# Exercicio 2
# Qual foi a quantia total de dinheiro transacional em cada ano?
from pyspark.sql.functions import year, col

df.withColumn(
    'year', year(col('data_transacao'))
).groupBy('year').sum('valor').show()

+----+------------------+
|year|        sum(valor)|
+----+------------------+
|2022|517980.58999999973|
|2021| 848320.6000000001|
+----+------------------+

In [ ]:
# Exercicio 3
# Descubra a quantidade de dinheiro que entrou na Nubank em todo o período.

from pyspark.sql.functions import sum as _sum
df.filter(col('parte_creditada_banco') == "Nubank").select(_sum('valor')).show()

from pyspark.sql import functions as F
df.filter(col('parte_creditada_banco') == "Nubank").select(F.sum('valor')).show()

+----------+
|sum(valor)|
+----------+
| 302224.64|
+----------+

+----------+
|sum(valor)|
+----------+
| 302224.64|
+----------+

In [ ]:
# Exercicio 4
# Retorne a quantidade de transações agrupadas por tipo de chave.

from pyspark.sql.functions import year, col

df.groupBy('chave_pix_tipo').count().show()

+--------------+-----+
|chave_pix_tipo|count|
+--------------+-----+
|       celular|   22|
|         email|   29|
|           cpf|   49|
+--------------+-----+

In [ ]:
# Exercicio 5
# Descubra qual é a média, mínima e máxima do valor de todas as transações.

df.select('valor').describe().show()

from pyspark.sql import functions as F


df.select(
    F.max(col('valor')),
    F.min(col('valor')),
    F.mean(col('valor')),
).show()

+-------+------------------+
|summary|             valor|
+-------+------------------+
|  count|               100|
|   mean|13663.011899999998|
| stddev|25715.376055332952|
|    min|              0.03|
|    max|          95977.62|
+-------+------------------+

+----------+----------+------------------+
|max(valor)|min(valor)|        avg(valor)|
+----------+----------+------------------+
|  95977.62|      0.03|13663.011899999998|
+----------+----------+------------------+

In [ ]:
# Exercicio 6
# Quais foram as 5 maiores transações durante todo o período?

df.orderBy('valor', ascending=False).show(5)

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|     chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+
| 54|95977.62|   Henrique Ferreira|             6269315|              Nubank|Sra. Maria Luiza ...|             68542779|                  BTG|           cpf|         14957860211|2021-09-22 10:17:00|
| 86|94736.79|Joao Vitor Cavalc...|            52265189|                 BTG|        Stella Gomes|             93858790|               Nubank|         email|stella.gomes@yaho...|2021-01-26 00:04:00|
| 97|94586.45|      Henrique Pinto|            69273106|            Bradesco|        Heitor Silva|             81541742|                 Itau|         email|heitor.silva@yaho...|2021-09-06 10:57:00|
| 78|81977.98|      Giovanna Costa|            37809286|                Itau|Joao Guilherme Ramos|             75756231|             Bradesco|         email|joao.guilherme.ra...|2021-02-16 18:57:00|
| 71|80083.34|      Eduarda Campos|            12495530|                 BTG|       Olivia da Luz|             30630489|                  BTG|           cpf|         42617803996|2021-11-16 10:58:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+
only showing top 5 rows

In [ ]:
# Exercicio 7
# Para o banco BTG, mostre qual é a chave pix mais utilizada para enviar ou receber transações.
df.filter(
    (col('parte_debitada_banco') == "BTG") |
    (col('parte_creditada_banco') == "BTG")
).groupBy('chave_pix_tipo').count().orderBy('count', ascending=False).show()

+--------------+-----+
|chave_pix_tipo|count|
+--------------+-----+
|           cpf|   22|
|         email|   15|
|       celular|   13|
+--------------+-----+

In [ ]:
# Exercicio 8
# Descubra qual foi a maior transação de cada mês na base de dados.
from pyspark.sql.functions import date_format

df.select(
    'id', 'valor', 'data_transacao'
).withColumn(
    'ano_mes', date_format(col('data_transacao'), 'y-MM')
).show()


from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

window_func  = Window.partitionBy("ano_mes").orderBy("valor")

df.select(
    'id', 'valor', 'data_transacao'
).withColumn(
    'ano_mes', date_format(col('data_transacao'), 'y-MM')
).withColumn('row_number', row_number().over(window_func)).show()

window_func  = Window.partitionBy("ano_mes").orderBy(col("valor").desc())

df.select(
    'id', 'valor', 'data_transacao'
).withColumn(
    'ano_mes', date_format(col('data_transacao'), 'y-MM')
).withColumn('row_number', row_number().over(window_func)).show()


df.select(
    'id', 'valor', 'data_transacao'
).withColumn(
    'ano_mes', date_format(col('data_transacao'), 'y-MM')
).withColumn('row_number', row_number().over(window_func)).filter(col('row_number') == 1).show()

+---+--------+-------------------+-------+
| id|   valor|     data_transacao|ano_mes|
+---+--------+-------------------+-------+
|  1|    9.93|2022-02-18 13:28:00|2022-02|
|  2|   15.38|2022-04-08 01:47:00|2022-04|
|  3|   57.58|2022-07-14 03:18:00|2022-07|
|  4|53705.13|2022-01-15 18:06:00|2022-01|
|  5|25299.69|2022-05-13 11:04:00|2022-05|
|  6| 7165.06|2022-09-11 13:38:00|2022-09|
|  7|    6.16|2021-12-10 12:37:00|2021-12|
|  8|  136.36|2021-12-30 23:18:00|2021-12|
|  9|  574.39|2021-06-21 07:20:00|2021-06|
| 10|   42.88|2022-09-21 17:19:00|2022-09|
| 11|33629.97|2022-09-12 00:29:00|2022-09|
| 12| 4374.56|2022-08-07 17:01:00|2022-08|
| 13|  507.18|2021-03-07 12:34:00|2021-03|
| 14|67758.87|2021-03-24 22:58:00|2021-03|
| 15|  815.53|2022-02-21 11:25:00|2022-02|
| 16|    2.73|2021-07-20 09:17:00|2021-07|
| 17|    0.54|2022-02-16 10:16:00|2022-02|
| 18|49836.72|2022-07-18 22:46:00|2022-07|
| 19|    9.68|2022-02-26 15:05:00|2022-02|
| 20| 9837.22|2021-06-22 05:39:00|2021-06|
+---+--------+-------------------+-------+
only showing top 20 rows

+---+--------+-------------------+-------+----------+
| id|   valor|     data_transacao|ano_mes|row_number|
+---+--------+-------------------+-------+----------+
| 30| 3035.83|2021-01-09 02:17:00|2021-01|         1|
| 86|94736.79|2021-01-26 00:04:00|2021-01|         2|
| 38|   32.79|2021-02-18 04:08:00|2021-02|         1|
|100|  705.81|2021-02-07 10:57:00|2021-02|         2|
| 89|  958.07|2021-02-13 10:07:00|2021-02|         3|
| 37|19799.16|2021-02-15 14:13:00|2021-02|         4|
| 34|58083.62|2021-02-10 06:13:00|2021-02|         5|
| 78|81977.98|2021-02-16 18:57:00|2021-02|         6|
| 60|    0.03|2021-03-16 19:22:00|2021-03|         1|
| 49|    0.57|2021-03-12 16:28:00|2021-03|         2|
| 98|     6.0|2021-03-22 20:38:00|2021-03|         3|
| 45|   69.76|2021-03-05 12:07:00|2021-03|         4|
| 28|   89.94|2021-03-04 03:31:00|2021-03|         5|
| 13|  507.18|2021-03-07 12:34:00|2021-03|         6|
| 14|67758.87|2021-03-24 22:58:00|2021-03|         7|
| 88|78347.58|2021-03-18 14:21:00|2021-03|         8|
| 91|   10.33|2021-04-25 09:00:00|2021-04|         1|
| 95|  202.69|2021-04-19 12:46:00|2021-04|         2|
| 44|   459.2|2021-04-06 03:47:00|2021-04|         3|
| 68|  611.53|2021-05-21 06:56:00|2021-05|         1|
+---+--------+-------------------+-------+----------+
only showing top 20 rows

+---+--------+-------------------+-------+----------+
| id|   valor|     data_transacao|ano_mes|row_number|
+---+--------+-------------------+-------+----------+
| 86|94736.79|2021-01-26 00:04:00|2021-01|         1|
| 30| 3035.83|2021-01-09 02:17:00|2021-01|         2|
| 78|81977.98|2021-02-16 18:57:00|2021-02|         1|
| 34|58083.62|2021-02-10 06:13:00|2021-02|         2|
| 37|19799.16|2021-02-15 14:13:00|2021-02|         3|
| 89|  958.07|2021-02-13 10:07:00|2021-02|         4|
|100|  705.81|2021-02-07 10:57:00|2021-02|         5|
| 38|   32.79|2021-02-18 04:08:00|2021-02|         6|
| 88|78347.58|2021-03-18 14:21:00|2021-03|         1|
| 14|67758.87|2021-03-24 22:58:00|2021-03|         2|
| 13|  507.18|2021-03-07 12:34:00|2021-03|         3|
| 28|   89.94|2021-03-04 03:31:00|2021-03|         4|
| 45|   69.76|2021-03-05 12:07:00|2021-03|         5|
| 98|     6.0|2021-03-22 20:38:00|2021-03|         6|
| 49|    0.57|2021-03-12 16:28:00|2021-03|         7|
| 60|    0.03|2021-03-16 19:22:00|2021-03|         8|
| 44|   459.2|2021-04-06 03:47:00|2021-04|         1|
| 95|  202.69|2021-04-19 12:46:00|2021-04|         2|
| 91|   10.33|2021-04-25 09:00:00|2021-04|         3|
| 68|  611.53|2021-05-21 06:56:00|2021-05|         1|
+---+--------+-------------------+-------+----------+
only showing top 20 rows

+---+--------+-------------------+-------+----------+
| id|   valor|     data_transacao|ano_mes|row_number|
+---+--------+-------------------+-------+----------+
| 86|94736.79|2021-01-26 00:04:00|2021-01|         1|
| 78|81977.98|2021-02-16 18:57:00|2021-02|         1|
| 88|78347.58|2021-03-18 14:21:00|2021-03|         1|
| 44|   459.2|2021-04-06 03:47:00|2021-04|         1|
| 68|  611.53|2021-05-21 06:56:00|2021-05|         1|
| 52|60139.23|2021-06-13 16:31:00|2021-06|         1|
| 76| 9320.87|2021-07-16 00:01:00|2021-07|         1|
| 73|  570.52|2021-08-02 18:40:00|2021-08|         1|
| 54|95977.62|2021-09-22 10:17:00|2021-09|         1|
| 32| 1508.83|2021-10-12 10:04:00|2021-10|         1|
| 71|80083.34|2021-11-16 10:58:00|2021-11|         1|
| 40|  829.87|2021-12-09 06:10:00|2021-12|         1|
| 79| 78559.4|2022-01-09 22:31:00|2022-01|         1|
| 35| 7944.02|2022-02-02 14:41:00|2022-02|         1|
| 55|35409.61|2022-03-02 03:04:00|2022-03|         1|
| 31|20875.64|2022-04-29 10:17:00|2022-04|         1|
| 47|38219.08|2022-05-23 06:48:00|2022-05|         1|
| 36|48714.95|2022-06-07 05:40:00|2022-06|         1|
| 18|49836.72|2022-07-18 22:46:00|2022-07|         1|
| 12| 4374.56|2022-08-07 17:01:00|2022-08|         1|
+---+--------+-------------------+-------+----------+
only showing top 20 rows

In [ ]:
# Exercicio 9
# Crie uma nova coluna que contenha o valor da transação em dólar.

df.withColumn('valor_dolar', round(col('valor') * 5.09, 2)).select('id', 'valor', 'valor_dolar').show()

+---+--------+-----------+
| id|   valor|valor_dolar|
+---+--------+-----------+
|  1|    9.93|      50.54|
|  2|   15.38|      78.28|
|  3|   57.58|     293.08|
|  4|53705.13|  273359.11|
|  5|25299.69|  128775.42|
|  6| 7165.06|   36470.16|
|  7|    6.16|      31.35|
|  8|  136.36|     694.07|
|  9|  574.39|    2923.65|
| 10|   42.88|     218.26|
| 11|33629.97|  171176.55|
| 12| 4374.56|   22266.51|
| 13|  507.18|    2581.55|
| 14|67758.87|  344892.65|
| 15|  815.53|    4151.05|
| 16|    2.73|       13.9|
| 17|    0.54|       2.75|
| 18|49836.72|   253668.9|
| 19|    9.68|      49.27|
| 20| 9837.22|   50071.45|
+---+--------+-----------+
only showing top 20 rows