# Instalando o Spark

In [1]:
# !pip install pyspark #==3.3.1

In [3]:
""" !wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip """

' !wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip\n!unzip ngrok-stable-linux-amd64.zip '

# Iniciando Sessão Spark

In [7]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import year, month, col

In [1]:

# ConfigureSparkUI
conf = SparkConf().set('spark.ui.port', '4050')
sc = SparkContext(conf=conf)
sc.stop()

spark = (
    SparkSession.builder                  # Método da classe que constrói a sessão spark
      .appName("Exercicios Spark")  # Nome do App Spark
      .getOrCreate())                     # Verifica se há uma sessão ativa, e se não há, cria uma nova sessão

23/10/14 15:41:57 WARN Utils: Your hostname, valdir-G5-5590 resolves to a loopback address: 127.0.1.1; using 192.168.0.54 instead (on interface enp3s0)
23/10/14 15:41:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/14 15:42:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
get_ipython().system_raw('./ngrok http 4050 &')

In [29]:
!curl -s http://localhost:4040/api/tunnels

{"tunnels":[{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://3b9d-2804-88c-7f3d-ea00-85b5-6195-28e-4054.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}},{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://3b9d-2804-88c-7f3d-ea00-85b5-6195-28e-4054.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}}],"uri":"/api/tunnels"}

In [4]:
get_ipython().system_raw('./ngrok config add-authtoken 2KBeQEmmd1YNlQ86GGKf3KFOkb3_6sQH7JEnvEhDxwn9A7WnT')

NAME:
   ngrok - tunnel local ports to public URLs and inspect traffic

DESCRIPTION:
    ngrok exposes local networked services behinds NATs and firewalls to the
    public internet over a secure tunnel. Share local websites, build/test
    webhook consumers and self-host personal services.
    Detailed help for each command is available with 'ngrok help <command>'.
    Open http://localhost:4040 for ngrok's web interface to inspect traffic.

EXAMPLES:
    ngrok http 80                    # secure public URL for port 80 web server
    ngrok http -subdomain=baz 8080   # port 8080 available at baz.ngrok.io
    ngrok http foo.dev:80            # tunnel to host:port instead of localhost
    ngrok http https://localhost     # expose a local https server
    ngrok tcp 22                     # tunnel arbitrary TCP traffic to port 22
    ngrok tls -hostname=foo.com 443  # TLS traffic for foo.com to port 443
    ngrok start foo bar baz          # start tunnels from the configuration file

VERSION:
   2.3.41

AUTHOR:
  inconshreveable - <alan@ngrok.com>

COMMANDS:
   authtoken	save authtoken to configuration file
   credits	prints author and licensing information
   http		start an HTTP tunnel
   start	start tunnels by name from the configuration file
   tcp		start a TCP tunnel
   tls		start a TLS tunnel
   update	update ngrok to the latest version
   version	print the version string
   help		Shows a list of commands or help for one command

ERROR:  Unrecognized command: config

In [5]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType, TimestampType


schema_base_pix = StructType([
    StructField('id', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType())
])

caminho_csv = "./base_de_dados.csv"

df = spark.read.csv(
      path=caminho_csv,
      header=True,
      sep=";",
      schema=schema_base_pix,
      timestampFormat="dd/MM/yyyy HH:mm"
)

# Exercícios
1. Descubra a quantidade total de transações na base de dados.
2. Qual foi a quantia total de dinheiro transacional em cada ano?
2. Descubra a quantidade de dinheiro que entrou na Nubank em todo o período.
2. Retorne a quantidade de transações agrupadas por tipo de chave.
3. Descubra qual é a média, mínima e máxima do valor de todas as transações.
4. Quais foram as 5 maiores transações durante todo o período?
5. Para o banco BTG, mostre qual é a chave pix mais utilizada para enviar ou receber transações. 
6. Descubra qual foi a maior transação de cada mês na base de dados.
7. Crie uma nova coluna que contenha o valor da transação em dólar.

In [ ]:
df.show()

In [6]:
# Descubra a quantidade total de transações na base de dados.

df.count()

100

In [9]:



novo_df = df.withColumn('ano', year(col('data_transacao')))

In [11]:
# Qual foi a quantia total de dinheiro transacional em cada ano?

novo_df.groupBy('ano').sum('valor').show()

+----+------------------+
| ano|        sum(valor)|
+----+------------------+
|2022|517980.58999999973|
|2021| 848320.6000000001|
+----+------------------+

In [14]:
# Descubra a quantidade de dinheiro que entrou na Nubank em todo o período.

novo_df.filter(col('parte_creditada_banco')=='Nubank').groupBy('parte_creditada_banco').sum('valor').show()

+---------------------+----------+
|parte_creditada_banco|sum(valor)|
+---------------------+----------+
|               Nubank| 302224.64|
+---------------------+----------+

In [14]:
# Retorne a quantidade de transações agrupadas por tipo de chave.

novo_df.groupBy('chave_pix_tipo').count().show()

+--------------+-----+
|chave_pix_tipo|count|
+--------------+-----+
|       celular|   22|
|         email|   29|
|           cpf|   49|
+--------------+-----+

In [ ]:
# Descubra qual é a média, mínima e máxima do valor de todas as transações.

In [15]:
# novo_df.agg({'valor': 'min'}).show()
# novo_df.agg({ 'valor': 'max' }).show()
# novo_df.agg({ 'valor': 'mean' }).show()

novo_df.select('valor').summary('mean', 'min', 'max').show()

+-------+------------------+
|summary|             valor|
+-------+------------------+
|   mean|13663.011899999998|
|    min|              0.03|
|    max|          95977.62|
+-------+------------------+

In [25]:
 # Quais foram as 5 maiores transações durante todo o período?
novo_df.select(col('parte_debitada_nome'),col('valor')).orderBy('valor', ascending=False).show(5)

+--------------------+--------+
| parte_debitada_nome|   valor|
+--------------------+--------+
|   Henrique Ferreira|95977.62|
|Joao Vitor Cavalc...|94736.79|
|      Henrique Pinto|94586.45|
|      Giovanna Costa|81977.98|
|      Eduarda Campos|80083.34|
+--------------------+--------+
only showing top 5 rows

In [19]:
# Para o banco BTG, mostre qual é a chave pix mais utilizada para enviar ou receber transações. 

novo_df.filter(
    (col('parte_debitada_banco')=='BTG' ) | 
    (col('parte_creditada_banco')=='BTG')
).groupBy('chave_pix_tipo').count().show()

+--------------+-----+
|chave_pix_tipo|count|
+--------------+-----+
|       celular|   13|
|         email|   15|
|           cpf|   22|
+--------------+-----+

In [28]:
# Descubra qual foi a maior transação de cada mês na base de dados.

novo_df.filter(
    (year(col('data_transacao'))==2021) 
).groupBy(month('data_transacao')).max('valor').show()

novo_df.filter(
    (year(col('data_transacao'))==2022)
).groupBy(month('data_transacao')).max('valor').show()

+---------------------+----------+
|month(data_transacao)|max(valor)|
+---------------------+----------+
|                   12|    829.87|
|                    1|  94736.79|
|                    6|  60139.23|
|                    3|  78347.58|
|                    5|    611.53|
|                    9|  95977.62|
|                    4|     459.2|
|                    8|    570.52|
|                    7|   9320.87|
|                   10|   1508.83|
|                   11|  80083.34|
|                    2|  81977.98|
+---------------------+----------+

+---------------------+----------+
|month(data_transacao)|max(valor)|
+---------------------+----------+
|                   12|  57433.69|
|                    1|   78559.4|
|                    6|  48714.95|
|                    3|  35409.61|
|                    5|  38219.08|
|                    9|  33629.97|
|                    4|  20875.64|
|                    8|   4374.56|
|                    7|  49836.72|
|                   10|   2842.73|
|                   11|    890.47|
|                    2|   7944.02|
+---------------------+----------+

In [13]:
# Crie uma nova coluna que contenha o valor da transação em dólar.

df_dolar = novo_df.withColumn('dolar', col('valor') / 5.10)
df_dolar.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+----+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao| ano|              dolar|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+----+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|2022|  1.947058823529412|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|2022| 3.0156862745098043|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|2022| 11.290196078431373|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|2022| 10530.417647058825|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|2022| 4960.7235294117645|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|2022| 1404.9137254901962|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|2021|  1.207843137254902|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|2021|  26.73725490196079|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|2021| 112.62549019607843|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|2022|  8.407843137254902|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|2022|  6594.111764705883|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|2022|  857.7568627450981|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|2021|  99.44705882352942|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|2021| 13286.052941176471|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|2022|  159.9078431372549|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|2021| 0.5352941176470588|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|2022|0.10588235294117648|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|2022|  9771.905882352941|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|2022| 1.8980392156862746|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|2021| 1928.8666666666666|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+----+-------------------+
only showing top 20 rows