In [184]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_moons
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostClassifier,GradientBoostingClassifier
from sklearn import metrics
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor

In [185]:
house = pd.read_excel('house (1).xlsx')

In [186]:
house.shape

(1460, 40)

In [180]:
house.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,Gd,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,TA,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,Gd,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,TA,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,Gd,...,192,84,0,0,0,0,0,12,2008,250000

In [189]:
house.dropna(inplace=True)

In [190]:
house.shape

(1121, 40)

In [191]:
house = pd.get_dummies(house)

In [192]:
house.shape

(1121, 46)

In [193]:
house.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,YrSold,SalePrice,ExterQual_Ex,ExterQual_Fa,ExterQual_Gd,ExterQual_TA,ExterCond_Ex,ExterCond_Fa,ExterCond_Gd,ExterCond_TA
count,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,...,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000,1121.000000
mean,726.842105,56.146298,70.665477,10122.956289,6.212310,5.561106,1972.264942,1985.683318,108.487957,438.399643,...,2007.795718,185506.152542,0.041035,0.006244,0.355040,0.597681,0.001784,0.015165,0.092774,0.890277
std,420.769012,41.772684,24.266812,8129.302641,1.380822,1.068236,30.967730,21.025974,189.500966,468.385038,...,1.335043,82999.159004,0.198459,0.078810,0.478739,0.490585,0.042220,0.122264,0.290245,0.312684
min,1.000000,20.000000,21.000000,1300.000000,2.000000,2.000000,1880.000000,1950.000000,0.000000,0.000000,...,2006.000000,35311.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,364.000000,20.000000,60.000000,7590.000000,5.000000,5.000000,1953.000000,1966.000000,0.000000,0.000000,...,2007.000000,131000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,725.000000,50.000000,70.000000,9416.000000,6.000000,5.000000,1974.000000,1995.000000,0.000000,374.000000,...,2008.000000,164900.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1091.000000,70.000000,80.000000,11361.000000,7.000000,6.000000,2003.000000,2005.000000,170.000000,702.000000,...,2009.000000,219500.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,2010.000000,755000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [194]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1121 entries, 0 to 1459
Data columns (total 46 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1121 non-null   int64
 1   MSSubClass     1121 non-null   int64
 2   LotFrontage    1121 non-null   float64
 3   LotArea        1121 non-null   int64
 4   OverallQual    1121 non-null   int64
 5   OverallCond    1121 non-null   int64
 6   YearBuilt      1121 non-null   int64
 7   YearRemodAdd   1121 non-null   int64
 8   MasVnrArea     1121 non-null   float64
 9   BsmtFinSF1     1121 non-null   int64
 10  BsmtFinSF2     1121 non-null   int64
 11  BsmtUnfSF      1121 non-null   int64
 12  TotalBsmtSF    1121 non-null   int64
 13  1stFlrSF       1121 non-null   int64
 14  2ndFlrSF       1121 non-null   int64
 15  LowQualFinSF   1121 non-null   int64
 16  GrLivArea      1121 non-null   int64
 17  BsmtFullBath   1121 non-null   int64
 18  BsmtHalfBath   1121 non-null   int64
 19  FullBath       1121 non-null   int64
 20  HalfBath       1121 non-null   int64
 21  BedroomAbvGr   1121 non-null   int64
 22  KitchenAbvGr   1121 non-null   int64
 23  TotRmsAbvGrd   1121 non-null   int64
 24  Fireplaces     1121 non-null   int64
 25  GarageYrBlt    1121 non-null   float64
 26  GarageCars     1121 non-null   int64
 27  GarageArea     1121 non-null   int64
 28  WoodDeckSF     1121 non-null   int64
 29  OpenPorchSF    1121 non-null   int64
 30  EnclosedPorch  1121 non-null   int64
 31  3SsnPorch      1121 non-null   int64
 32  ScreenPorch    1121 non-null   int64
 33  PoolArea       1121 non-null   int64
 34  MiscVal        1121 non-null   int64
 35  MoSold         1121 non-null   int64
 36  YrSold         1121 non-null   int64
 37  SalePrice      1121 non-null   int64
 38  ExterQual_Ex   1121 non-null   uint8
 39  ExterQual_Fa   1121 non-null   uint8
 40  ExterQual_Gd   1121 non-null   uint8
 41  ExterQual_TA   1121 non-null   uint8
 42  ExterCond_Ex   1121 non-null   uint8
 43  ExterCond_Fa   1121 non-null   uint8
 44  ExterCond_Gd   1121 non-null   uint8
 45  ExterCond_TA   1121 non-null   uint8
dtypes: float64(3), int64(35), uint8(8)
memory usage: 350.3 KB

In [195]:
labels = np.array(house['SalePrice'])
house= house.drop('SalePrice', axis = 1)
house_list = list(house.columns)
house = np.array(house)
house.shape

(1121, 45)

In [196]:
train_house, test_house, train_labels, test_labals = train_test_split(house, labels, test_size = 0.25, random_state = 42)

In [197]:
baseline_preds = test_house[:, house_list.index('OverallQual')]
baseline_errors = abs(baseline_preds - test_labals)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  192951.96

In [198]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(train_house,train_labels);

In [203]:
predictions_rf = rf.predict(test_house)
errors_rf = abs(predictions_rf - test_labals)
r_sq = rf.score(house, labels)
print('Coeficiente de Determinação (R²):', r_sq)
print('Mean Absolute Error:', round(np.mean(errors_rf), 2), 'degrees.')
print('Mean Squared Error:', metrics.mean_squared_error(test_labals, predictions_rf))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(test_labals, predictions_rf)))

Coeficiente de Determinação (R²): 0.9485886719577706
Mean Absolute Error: 19122.89 degrees.
Mean Squared Error: 937331048.1581936
Root Mean Squared Error: 30615.862688452755

In [208]:
ada = AdaBoostRegressor(n_estimators = 1000, random_state = 42)
ada.fit(train_house,train_labels);
ada_pred = ada.predict(test_house)

In [210]:
predictions_ada = ada.predict(test_house)
errors_ada = abs(predictions_rf - test_labals)
r_sq = ada.score(house, labels)
print('Coeficiente de Determinação (R²):', r_sq)
print('Mean Absolute Error:', round(np.mean(errors_ada), 2), 'degrees.')
print('Mean Squared Error:', metrics.mean_squared_error(test_labals, predictions_ada))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(test_labals, predictions_ada)))

Coeficiente de Determinação (R²): 0.868834224815642
Mean Absolute Error: 19122.89 degrees.
Mean Squared Error: 1409573730.4590282
Root Mean Squared Error: 37544.29025110247