In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [44]:
df = pd.read_excel('golf_df.xlsx')
df.tail()

       clima  temp umidade vento jogar
9      rainy  mild  normal    no   yes
10     sunny  mild  normal   yes   yes
11  overcast  mild    high   yes   yes
12  overcast   hot  normal    no   yes
13     rainy  mild    high   yes    no

In [45]:
enc = df.iloc[:, :-1]
enc.head(
    
)

      clima  temp umidade vento
0     sunny   hot    high    no
1     sunny   hot    high   yes
2  overcast   hot    high    no
3     rainy  mild    high    no
4     rainy  cool  normal    no

In [47]:
# usar o labelencoder para transformar os dados em valores numéricos
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
enc['clima'] = le.fit_transform(enc['clima']);
enc['temp'] = le.fit_transform(enc['temp']);
enc['umidade'] = le.fit_transform(enc['umidade']);
enc['vento'] = le.fit_transform(enc['vento']);

/tmp/ipykernel_126014/2305164626.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enc['clima'] = le.fit_transform(enc['clima']);
/tmp/ipykernel_126014/2305164626.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enc['temp'] = le.fit_transform(enc['temp']);
/tmp/ipykernel_126014/2305164626.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enc['umidade'] = le.fit_transform(enc['umidade']);
/tmp/ipykernel_126014/2305164626.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enc['vento'] = le.fit_transform(enc['vento']);

In [50]:
jogo = enc
jogo['jogar'] = df.jogar
jogo.head()

   clima  temp  umidade  vento jogar
0      2     1        0      0    no
1      2     1        0      1    no
2      0     1        0      0   yes
3      1     2        0      0   yes
4      1     0        1      0   yes

In [51]:
# separa as variaveis explicativas da variável target
x = jogo.iloc[:, :-1]
y = jogo.jogar

In [52]:
# inicia o modelo de regressão logística
rlg = LogisticRegression()
rlg.fit(x, y)

LogisticRegression()

In [54]:
# separa as variaveis de teste e treino
x_teste, x_valid, y_teste, y_valid = train_test_split(x, y, test_size=0.2, random_state=42)

# treina o modelo
rlg.fit(x_teste, y_teste)

LogisticRegression()

In [58]:
# predizer os valores de y
x_teste['predicao'] = rlg.predict(x_teste)

x_teste.head()

/tmp/ipykernel_126014/681933352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_teste['predicao'] = rlg.predict(x_teste)

    clima  temp  umidade  vento predicao
12      0     1        1      0      yes
5       1     0        1      1      yes
8       2     0        1      0      yes
2       0     1        0      0      yes
1       2     1        0      1       no

In [60]:
y_teste = pd.DataFrame(y_teste)
y_teste.head()

   jogar
12   yes
5     no
8    yes
2    yes
1     no

In [61]:
x_teste['real'] = y_teste.jogar.values

/tmp/ipykernel_126014/124172739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_teste['real'] = y_teste.jogar.values

In [63]:
x_teste.head(20)

    clima  temp  umidade  vento predicao real
12      0     1        1      0      yes  yes
5       1     0        1      1      yes   no
8       2     0        1      0      yes  yes
2       0     1        0      0      yes  yes
1       2     1        0      1       no   no
13      1     2        0      1       no   no
4       1     0        1      0      yes  yes
7       2     2        0      0       no   no
10      2     2        1      1       no  yes
3       1     2        0      0      yes  yes
6       0     0        1      1      yes  yes